.hold {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.arrainged {
  margin-top: 13px;
  margin-right: 2em;
}
.bton1 {
  width: 100%;
  display: flex;
  justify-content: left;
  cursor: pointer;
}
.bton1 button {
  width: 180px;
  height: 65px;
  border: none;
  font-size: 16px;
  color: white;
  font-weight: 700;
  border-radius: 8px;
  background-color: #3c37ff;
  cursor: pointer;
}
.fill {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.skeleton {
  background-color: white;
  border-radius: 12px;
  box-sizing: border-box;
  min-height: 200px;
  margin-top: 20px;
  padding: 30px;
}
.skeleton_head {
  background-color: #e7edf1;
  height: 24px;
  width: 60%;
  margin-bottom: 24px;
  border-radius: 12px;
}
.skeleton_body {
  background-color: #e7edf1;
  border-radius: 8px;
  height: 16px;
  margin-top: 16px;
}
.skeleton_head,
.skeleton_body {
  animation: shimmer 1.2s infinite linear;
  background-image: linear-gradient(
    90deg,
    #e7edf1 0px,
    #f1f6fa 200px,
    #e7edf1 400px
  );
  background-size: 1200px;
}

@keyframes shimmer {
  0% {
    background-position: -400px;
  }
  50% {
    background-position: 700px;
  }
  100% {
    background-position: 700px;
  }
}
